# This notebook will aim to synthesize a collaborative filtering recommendation system dataset containing over 7000 users and using the 4000+ jurisprudence docs as items

In [3]:
from utils.data_loaders import load_juris_meta

import numpy as np
import pandas as pd
import time

from concurrent.futures import ThreadPoolExecutor

In [4]:
labor_related_docs_meta = load_juris_meta('../raw labor related jurisprudence cleaning/labor_related_docs_meta.csv')
labor_related_docs_meta

,abs_file_path,answer,year_range,title,file_name,year,month,day,gr_number,division,case_code,id
0,d:/Projects/To Github/LaRJ-Corpus/raw labor re...,LABOR RELATED,1901-1920,"TATSUSABURO YEGAWA, PLAINTIFF AND APPELLEE, VS...",126340044732358.html,1906,11,22,g.r. no. 3388,NaN,6 phil. 750,1
1,d:/Projects/To Github/LaRJ-Corpus/raw labor re...,LABOR RELATED,1901-1920,"T. SUGO AND K. SHIBATA, PLAINTIFFS AND APPELLE...",12634004479921.html,1906,11,22,g.r. no. 3387,NaN,6 phil. 744,2
2,d:/Projects/To Github/LaRJ-Corpus/raw labor re...,LABOR RELATED,1901-1920,"THE UNITED STATES, COMPLAINANT AND APPELLEE, V...",12637977142035130542.html,1904,4,9,g.r. no. 1559,NaN,3 phil. 630,3
3,d:/Projects/To Github/LaRJ-Corpus/raw labor re...,LABOR RELATED,1901-1920,"THE UNITED STATES, COMPLAINANT AND APPELLEE, V...",1263862677733972151.html,1904,4,9,g.r. no. 1585,NaN,3 phil. 631,4
4,d:/Projects/To Github/LaRJ-Corpus/raw labor re...,LABOR RELATED,1901-1920,"THE UNITED STATES, COMPLAINANT AND APPELLEE, V...",12638653111436063074.html,1904,4,9,g.r. no. 1586,NaN,3 phil. 633,5
...,...,...,...,...,...,...,...,...,...,...,...,...
4223,d:/Projects/To Github/LaRJ-Corpus/raw labor re...,LABOR RELATED,2020,RINGO B. DAYOWAN TRANSPORT SERVICES OR RINGO B...,16151712921004948288.html,2020,11,10,g.r. no. 226409,FIRST DIVISION,NaN,4224
4224,d:/Projects/To Github/LaRJ-Corpus/raw labor re...,LABOR RELATED,2020,MINA C. NACILLA AND THE LATE ROBERTO C. JACOBE...,1615183910987321937.html,2020,11,10,g.r. no. 223449,FIRST DIVISION,NaN,4225
4225,d:/Projects/To Github/LaRJ-Corpus/raw labor re...,LABOR RELATED,2020,"ALCID C. BALBARINO (NOW DECEASED), SUBSTITUTED...",1615948352512956378.html,2020,9,21,g.r. no. 201580,THIRD DIVISION,NaN,4226
4226,d:/Projects/To Github/LaRJ-Corpus/raw labor re...,LABOR RELATED,2020,"TEAM PACIFIC CORPORATION, FEDERICO M. FERNANDE...",1615955399598086487.html,2020,7,15,g.r. no. 206789,THIRD DIVISION,NaN,4227
4227,d:/Projects/To Github/LaRJ-Corpus/raw labor re...,LABOR RELATED,2021,DENR EMPLOYEES UNION (DENREU) AND KALIPUNAN NG...,16159550661388784210.html,2021,1,19,g.r. no. 204152,EN BANC,NaN,4228

In [5]:
num_docs = labor_related_docs_meta.shape[0]
num_users = 12034

In [6]:
labor_related_docs_meta.dtypes

abs_file_path    object
answer           object
year_range       object
title            object
file_name        object
year              int64
month             int64
day               int64
gr_number        object
division         object
case_code        object
id                int64
dtype: object

In [7]:
# use this for in order to replicate same random numbers turn it off
# should synthesis of dataset commence
np.random.seed(0)

# pseudo hyper params
# the range in which the random number of docs are to be generated from for each user
# e.g. user 1 is generated 40 docs to rate, user 20 is generated 10 docs to rate, so on
min_num_of_docs_to_rate = 10
max_num_of_docs_to_rate = 100

# # high arg of np.random.randint is exclusive that is why we add one to 
# # 80 to ensure numbers generated range from 10 to 80 and not 10 to 79 only
# num_of_docs_to_rate = np.random.randint(min_num_of_docs_to_rate, max_num_of_docs_to_rate + 1, 1, dtype=np.int32)[0]
# print(f"num of docs to rate {num_of_docs_to_rate}")

In [8]:
# # use 0 to 4227 as the range of id's to generate the docs for each user
# rand_idx = np.random.choice(labor_related_docs_meta.index, size=num_of_docs_to_rate)

# random_items = labor_related_docs_meta.iloc[rand_idx]
# print(f"random_items size: {random_items.shape[0]}")
# random_items

In [9]:
labor_related_docs_meta.loc[:, 'id']

0          1
1          2
2          3
3          4
4          5
        ...
4223    4224
4224    4225
4225    4226
4226    4227
4227    4228
Name: id, Length: 4228, dtype: int64

In [10]:
def helper(user):
    """
    args:
        user - the id of the user during concurrent process ranging
        from 1 to n_u
    """

    num_of_docs_to_rate = np.random.randint(min_num_of_docs_to_rate, max_num_of_docs_to_rate + 1, 1, dtype=np.int32)[0]
    
    user_ids = (np.ones(shape=num_of_docs_to_rate, dtype=np.int32) * user).tolist()

    # sample the indeces of the labor related docs strictly without replacement
    # so we only have unique documetn indeces that a user has "interacted" with
    rand_indeces = np.random.choice(labor_related_docs_meta.index, size=num_of_docs_to_rate, replace=False)
    random_items = labor_related_docs_meta.loc[rand_indeces, 'id'].tolist()

    random_ratings = np.random.randint(1, 5 + 1, size=num_of_docs_to_rate, dtype=np.int32).tolist()
    
    return pd.DataFrame({'user_id': user_ids, 'item_id': random_items, 'rating': random_ratings})

In [11]:
with ThreadPoolExecutor() as executor:
    results = list(executor.map(helper, np.arange(num_users) + 1))

In [12]:
results[0]

    user_id  item_id  rating
0         1      155       1
1         1     2855       3
2         1     3525       4
3         1     3389       5
4         1     2885       2
5         1     3340       1
6         1     1848       4
7         1     2332       3
8         1     1261       3
9         1      818       1
10        1     1622       1
11        1     2768       4
12        1      397       1
13        1        2       2
14        1     2515       4
15        1     1086       4
16        1      300       4
17        1     2630       3
18        1     2725       3
19        1       71       1
20        1     2091       3
21        1     1346       2
22        1     3661       1
23        1     2129       3
24        1      154       3
25        1     3078       3
26        1      798       3
27        1      625       4
28        1     3070       4
29        1     3422       2
30        1     2627       2
31        1     4121       2
32        1      396       2
33        1     3719       4
34        1     2807       5
35        1     2404       1
36        1     1644       3
37        1     4226       5
38        1     1740       4
39        1     1625       1
40        1     2043       1
41        1     4200       5
42        1      450       4
43        1     1482       1
44        1     3428       1
45        1     3264       1
46        1      471       2
47        1     4162       4
48        1     2596       2
49        1     1790       5
50        1     2555       1
51        1     2840       1
52        1      344       3
53        1      576       4

In [13]:
len(results)

12034

In [14]:
# concatenate all dfs created concurrently
rating_df = pd.concat(results, axis=0)

# shuffle the rows of the rating_df
rating_df = rating_df.sample(frac=1)

# reset index
rating_df.reset_index(drop=True, inplace=True)

In [15]:
rating_df

        user_id  item_id  rating
0          2406      253       4
1         10316     1435       2
2           564      941       5
3          6311     1443       4
4         11737      762       2
...         ...      ...     ...
660640    10435     3044       1
660641     4941     2688       4
660642     8155      225       3
660643     6196     2248       5
660644    11527      353       3

[660645 rows x 3 columns]

In [16]:
rating_df.to_csv('synthesized_juris_ratings.csv')